<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="formBx">
        <h2>Sign Up</h2>
        <form action="/signup" method="POST">
            <div class="inputBx">
                <span>Email Id</span>
                <input type="text" name="username" required>
            </div>
            <div class="inputBx">
                <span>Password</span>
                <input type="password" name="password" required>
            </div>
            <div class="inputBx">
                <button type="submit">Sign In</button>
            </div>
            <div class="inputBx">
                <p>Already have an account? <a href="./index.html">LogIn</a></p>
            </div>
        </form>
    </div>
</body>
</html>