
button{
   
    display: block;
    background: white;
    color:black;
    margin-left: 145px;;
    margin-top: 20px;
    font-size: larger;
    border:0;
    text-align: left;;
    height:40px;
    border-radius: 20px;
    width: 150px;;
    padding-left: 16px;
    width: fit-content;
    padding:0 16px;

    &:hover,&:active{
        background:rgb(233, 227, 227);
        font-weight: bold;
        text-decoration: none;
    }
    
}

.tweet{
    
       &:hover,&:active{
        background:rgb(49, 105, 189);
        text-decoration: none;
        font-weight: bold;
        }
}


